

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

#############
## IntelliJ
#############

*/.idea/
*.iml

#############
## Databases
#############

*.sqlite
