{% extends "base.html" %}
{% block content %}

<h1 style="color: lightgreen">Success!</h1>
<h3>Content Submitted:</h3>
<table>
    <tr>
        <td>Student ID:</td>
        <td>{{info[0]}}</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td>{{info[1]}}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>{{info[2]}}</td>
    </tr>
    <tr>
        <td>Computer Name:</td>
        <td>{{info[3]}}</td>
    </tr>
    <tr>
        <td>Teacher:</td>
        <td>{{info[4]}}</td>
    </tr>
    <tr>
        <td>Paid lab fee:</td>
        <td>
            {% if info[5] %}
            Yes
            {% else %}
            No
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><a src="/">Back Home</a></td>
    </tr>
</table>

{% endblock %}